@import '~node_modules/modern-normalize/modern-normalize.css';

html {
  box-sizing: border-box;
}

@keyframes light-body {
  0%   {background-color:black; }
  25%  {background-color:#373737; }
  50%  {background-color:#797979; }
  75%  {background-color:#c8c8c8; }
  100% {background-color:#E5E5E5; }
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  animation-name: light-body;
  animation-duration: 500ms;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

p {
  margin: 0;
}

img {
  display: block;

  height: auto;
}

a {
  text-decoration: none;
  transition: color var(--duration) var(--timing-function);
}

ul,
ol {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.default-height {
  min-height: calc(100vh - 388px);
  @media (min-width: 768px) {
    min-height: calc(100vh - 298px);
  }

  @media (min-width: 1280px) {
    min-height: calc(100vh - 293px);
  }
}
