.button-to-top {
  position: relative;
  display: flex;
  width: 60px;
  height: 60px;
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 999;
  border: none;
  background-color: transparent;

  visibility: hidden;

  transition: visibility 350ms ease-in-out, opacity 350ms ease-in-out;
}

.to-top-icon {
  width: 100%;
  height: 100%;
  transition: visibility 350ms ease-in-out, opacity 350ms ease-in-out;

  &:hover {
    fill: rgba(0, 0, 0, 0.7);
    transition: all 300ms;
  }
  &:active {
    fill: rgba(0, 0, 0, 0.3);
    transition: all 200ms;
  }
}
