.button-to-top {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;

  z-index: 999;
  border: none;
  background-color: rgb(36, 35, 35);
  border-radius: 50%;

  width: 40px;
  height: 40px;
  bottom: 147px;
  right: 5px;

  visibility: hidden;

  transition: visibility 350ms ease-in-out, opacity 350ms ease-in-out;

  &:hover {
    transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
    background-color: #ff6b01;
    transition: all 300ms;
  }
  
  &:active {
    background-color: #ff6b01b2;
    transition: all 200ms;
  }

  @media screen and (min-width: 768px) {
    right: 15px;
    bottom: 130px;
    width: 60px;
    height: 60px;
  }

  @media screen and (min-width: 1280px) {
    bottom: 120px;
    width: 60px;
    height: 60px;
  }
}

.to-top-icon {
  width: 90%;
  height: 50%;
  transition: visibility 350ms ease-in-out, opacity 350ms ease-in-out;
  fill: white;
}
