.backdrop {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms, visibility 250ms;
}

.modal {
    position: relative;
    width: 90vw;
    height: 90vh;
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    // margin: 0 auto;
    // padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
}

.modal__header {
    display: flex;
}

.modal__close {
    position: absolute;
    width: 50px;
    height: 30px;
    border-radius: 5%;
    align-items: center;
    background: #ffffff;
    border: 2px solid #FF6B08;
    box-sizing: border-box;
    right: 10px;
    top: 10px;

    &:hover,
    &:focus {
        background: #FF6B08;
        fill: #ffffff;
        cursor: pointer;
    }
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.team__list {
display: flex;
flex-wrap: wrap;
}

.team__card {
    padding-right: 20px;
    padding-bottom: 15px;
}

.modal__h1 {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 1.2;
        color: #FF6B08;
        justify-content: center;
        padding-bottom: 10px;
        padding-top: 10px;
}