.backdrop {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms, visibility 250ms;
}

.modal {
    position: relative;
    width: 90vw;
    height: 90vh;
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    margin: 0 auto;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media screen and (min-width: 1200px) {
        width: 528px;
        height: 581px;
    }
}

.modal__close {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    top: 8px;
    right: 8px;

    &:hover,
    &:focus {
        fill: var(--accent-color);
        cursor: pointer;
    }
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}