.movie {
  margin-top: 20px;
  margin-bottom: 40px;
}

.movie__item {
  max-width: 280px;
}

.movie__item:not(:last-child) {
  margin-bottom: 20px;
}

.movie__link {
  cursor: pointer;
}

.movie__image {
  width: 280px;
  height: 398px;
  border-radius: 5px;
}

.movie__description {
  font-weight: 500;
  margin-top: 8px;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
}

.movie__title {
  text-transform: uppercase;
  max-width: 395px;
}

.movie__info {
  color: #ff6b08;
}

.movie__raiting {
  font-size: 12px;
  line-height: 14px;
  padding: 1px 6px;
  background: #ff6b01;
  border-radius: 5px;
  color: #ffffff;
}

.no-movie {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 20px;

  width: 200px;
  // height: 170px;
  border-radius: 5px;

  text-align: center;
  font-size: 35px;
  line-height: 1.2;

  background-color: var(--secondary-orange-color);
  color: #ffffff;
}

.movie__notification {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 230px - 100px);
}

@media (min-width: 768px) {
  .movie {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .movie__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(-1 * 32px);
    margin-left: calc(-1 * 32px);
  }

  .movie__item {
    max-width: 336px;
    display: flex;
    flex-basis: calc(100% / 2 - 32px);
    margin-top: 32px;
    margin-left: 32px;
  }

  .movie__item:not(:last-child) {
    margin-bottom: 0;
  }

  .movie__image {
    width: 336px;
    height: 455px;
  }

  .no-movie {
    padding: 30px;

    width: 400px;
    // height: 170px;

    font-size: 40px;
    line-height: 1.4;
  }

  .movie__notification {
    height: calc(100vh - 219px - 79px);
  }
}

@media (min-width: 1280px) {
  .movie__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: calc(-1 * 32px);
    margin-left: calc(-1 * 32px);
  }

  .movie__item {
    max-width: 395px;
    display: flex;
    flex-basis: calc(100% / 3 - 32px);
    margin-top: 32px;
    margin-left: 16px;
  }

  .movie__image {
    width: 395px;
    height: 574px;
  }

  .movie__description {
    font-size: 20px;
    line-height: 24px;
    margin-top: 12px;
  }

  .movie__raiting {
    padding: 3px 8px;
  }

  .movie__notification {
    height: calc(100vh - 216px - 77px);
  }
}
