
.modal-window{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 806px;
    height: 558px;
    border:none;
    padding: 0;
    background: #FFFFFF;
    overflow: hidden;
    &__close{ 
        position: absolute;
        top: 16px;
        right: 16px;
        cursor: pointer;
    }
    &__wrapper{
        width: 100%;
        height: 100%;
        @media screen and (max-width: 850px) {
            display: flex;
            align-items:center;    
        }
    }
    @media screen and (max-width: 850px) {
        width: 704px;
        height: 552px;
  
    }

     @media screen and (max-width: 650px) {
        width: 280px;
        // height: auto;
        height: 940px;
        overflow-y: scroll;
    }

}
