.movie-card{
    padding: 40px 12px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    @media screen and (max-width: 768px) {
        // padding: 40px 36px;
        padding-left: 36px;
        padding-right: 72px;
    } 
    @media screen and (max-width: 690px) {
        padding-right: 36px;
    }
    @media screen and (max-width: 650px) {
        width: 280px;
        // height: auto;
        flex-direction: column;
        padding-top: 50px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 40px;
        border:none;
        margin:auto 0 ;
    }
    @media screen and (max-width: 480px) {

    }
    &__poster{
        width: 375px;
        height: 478px;
        border-radius:5px;
        overflow: hidden;
                    object-fit: cover;
            object-position: 50% 50%;
        & img{

            display: block;
            width: 100%;
            height: auto;

        }
        @media screen and (max-width: 850px) {
            width: 320px;
            height: 410px;
        }
         @media screen and (max-width: 768px) {
            width: 264px;
            height: 373px;
        }
        @media screen and (max-width: 650px) {
            width: 240px;
            height: 357px;
            margin-bottom: 20px;
        }
    }
    &__no-image{
        width: 100%;
    }
    &__info{
        // border: 1px rgb(97, 189, 238) solid;
        width: 391px;
        height: auto;
        @media screen and (max-width: 850px) {
            width: 340px;
        }     
        @media screen and (max-width: 768px) {
            width: 270px;
        }
           @media screen and (max-width: 650px) {
            width: 244px;
        }   
    }
    &__title{
        font-weight: 500;
        font-size: 30px;
        line-height: 35px;    
        color: #000000;
        text-transform: uppercase;
        margin:0 0 20px;
        @media screen and (max-width: 768px) {
            font-weight: 500;
            font-size: 20px;
            line-height: 23px;
        } 
    }

    &__rait{
        // outline: 1px firebrick solid;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 20px;
        display: flex;
        & p:not(:last-child){
            margin: 0 0 10px;
        }
    }
    &__categories{
        // outline: 1px teal solid;
        color: #8C8C8C;
        margin-right: 85px;
        & p{
            white-space: nowrap;
        }
        @media screen and (max-width: 850px) {
            margin-right: 40px;
        }
    }
    &__raits{
        // outline: 1px midnightblue solid;
        color: #000000;
    }
    &__votes-rait{
        & span:not(:last-child){
            margin-right: 7.5px;
        }
        & span:first-child{
            background-color: #FF6B01;
            color:#ffffff;
            border-radius: 5px;
            padding:1px 5px;
        }
        & span:last-child{
            background-color: #F7F7F7;
            color:#000000;
            border-radius: 5px;
            padding:1px 5px;
        }
    }
    &__origin-title-rait{
        text-transform: uppercase;
        @media screen and (max-width: 650px) {
            text-overflow: ellipsis;
            // display: block;
            // white-space: nowrap;
            // max-width: 120px;
         }
    }
    &__descript{
        color: #000000;
        margin-bottom: 20px;
        width: 390px;
         @media screen and (max-width: 850px) {
            width: 264px;
        }
          @media screen and (max-width: 650px) {
            width: 240px;
        }
    }
    &__descript-title{
        text-transform: uppercase;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        margin: 0 0 8px;
        overflow: hidden;
    }
    &__text {
        text-justify: auto;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
    }
    &__controls {
        display: flex;
        justify-content: space-between;
        width: 288px;
        @media screen and (max-width: 850px) {
            width: 264px;
        } 
        @media screen and (max-width: 650px) {
            width: 240px;
        }
    }
    &__btn{
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;    
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        border-radius: 5px;
        padding: 14px 0;
        width: 136px;
        background: inherit;
        border: 1px solid #000000;
        color:#000000;
        &:hover{
            border: 1px solid #FF6B01;
        }
        // &--watched{
        //     background-color:#FF6B01;
        //     color:#ffffff;
        //     &:hover{
        //         border: 1px solid #000000;
        //     }
        // }
        // &--queue{
        //     background: inherit;
        //     border: 1px solid #000000;
        //     color:#000000;
         
        // }
       
        
        @media screen and (max-width: 850px) {
            width: 125px;
        } 
           @media screen and (max-width: 650px) {
            width: 110px;
        }
       
    }
       
}