<!-- повернути клас is-hidden -->
<div class="backdrop is-hidden backdrop-modal">
    <!-- <div class="container"></div>> -->
  <div class="modal">
    <div class="modal__header">
      <h2 class="modal__h2">GoIT Students</h2>
      <svg
        viewBox="0 0 320 512"
        width="14"
        height="14"
        class="modal__close-btn"
      >
        <path
          d="M310.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L160 210.7 54.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L114.7 256 9.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 301.3 265.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L205.3 256 310.6 150.6z"
        />
      </svg>
    </div>
    <ul class="list team-list">
      <li class="team-list__item">
          <div class="team-list__card">
            <!-- <picture class="team-list__img"> -->
                <!-- <source srcset="" media="(min-width: 1280px)" /> -->
                <img src="./images/team/andrii-lead.jpg" alt="Andrii"class="team-list__img" />
                <!-- <source srcset="./images/" media="(min-width: 768px)" />
                <source srcset="./images/200.jpg" media="(min-width: 480px)" /> -->
              <!-- </picture> -->
              <div class="team-list__info">
                <p class="team-list__name">Андрій</p>
                <p class="team-list__position" lang="en">Team-lead</p>
              </div>
          </div>
      </li>
      <li class="team-list__item">
        <div class="team-list__card">
            <!-- <picture class="team-list__img"> -->
                <!-- <source srcset="" media="(min-width: 1280px)" /> -->
                <img src="./images/team/andrii-dev.jpeg" alt="Andrii"class="team-list__img /">
                <!-- <source srcset="./images/400.jpg" media="(min-width: 768px)" />
                <source srcset="./images/200.jpg" media="(min-width: 480px)" /> -->
              <!-- </picture> -->
              <div class="team-list__info">
                <p class="team-list__name">Андрій</p>
                <p class="team-list__position" lang="en">Developer</p>
              </div>
        </div>
      </li>
      <li class="team-list__item">
        <div class="team-list__card">
            <!-- <picture class="team-list__img"> -->
                <!-- <source srcset="" media="(min-width: 1280px)" /> -->
                <!-- <source srcset="./images/400.jpg" media="(min-width: 768px)" />
                <source srcset="./images/200.jpg" media="(min-width: 480px)" /> -->
                <img src="./images/team/iuliia-dev.jpg" alt="Iuliia" class="team-list__img"/>
            <!-- </picture> -->
            <div class="team-list__info">
                <p class="team-list__name">Юлія</p>
                <p class="team-list__position" lang="en">Developer</p>
            </div>
        </div>
      </li>
      <li class="team-list__item">
        <div class="team-list__card">
            <!-- <picture class="team-list__img"> -->
                <!-- <source srcset="" media="(min-width: 1280px)" /> -->
                <!-- <source srcset="./images/400.jpg" media="(min-width: 768px)" />
                <source srcset="./images/200.jpg" media="(min-width: 480px)" /> -->
                <img src="./images/team/kostiantyn-scrum.jpg" alt="Kostiantyn" class="team-list__img"/>
            <!-- </picture> -->
            <div class="team-list__info">
                <p class="team-list__name">Костянтин</p>
                <p class="team-list__position" lang="en">Developer</p>
            </div>
        </div>
      </li>
      <li class="team-list__item">
        <div class="team-list__card">
            <!-- <picture class="team-list__img"> -->
                <!-- <source srcset="" media="(min-width: 1280px)" /> -->
                <!-- <source srcset="./images/400.jpg" media="(min-width: 768px)" /> -->
                <img src="./images/team/maksym-dev.jpg" alt="Maksym" class="team-list__img"/>
            <!-- </picture> -->
            <div class="team-list__info">
                <p class="team-list__name">Максим</p>
                <p class="team-list__position" lang="en">Scrum master</p>
            </div>
        </div>
      </li>
      <li class="team-list__item">
        <div class="team-list__card">
            <!-- <picture class="team-list__img"> -->
                <!-- <source srcset="" media="(min-width: 1280px)" /> -->
                <!-- <source srcset="./images/400.jpg" media="(min-width: 768px)" /> -->
                <img src="./images/team/mark-dev.jpg" alt="Mark" class="team-list__img"/>
            <!-- </picture> -->
            <div class="team-list__info">
                <p class="team-list__name">Марк</p>
                <p class="team-list__position" lang="en">Developer</p>
            </div>
        </div>
      </li>
      <li class="team-list__item">
        <div class="team-list__card">
            <!-- <picture class="team-list__img"> -->
                <!-- <source srcset="" media="(min-width: 1280px)" /> -->
                <!-- <source srcset="./images/400.jpg" media="(min-width: 768px)" /> -->
                <img src="./images/team/oleksandr-dev.jpg" alt="Oleksandr" class="team-list__img"/>
            <!-- </picture> -->
            <div class="team-list__info">
                <p class="team-list__name">Олександр</p>
                <p class="team-list__position" lang="en">Developer</p>
            </div>
        </div>
      </li>
      <li class="team-list__item">
        <div class="team-list__card">
            <!-- <picture class="team-list__img"> -->
                <!-- <source srcset="" media="(min-width: 1280px)" /> -->
                <!-- <source srcset="./images/400.jpg" media="(min-width: 768px)" /> -->
                <img src="./images/team/serhii-dev.jpg" alt="Serhii" class="team-list__img"/>
            <!-- </picture> -->
            <div class="team-list__info">
                <p class="team-list__name"></p>
                <p class="team-list__position" lang="en">Developer</p>
            </div>
        </div>
      </li>
    </ul>
  </div>
</div>
