<div class="backdrop is-hidden" footer-modal>
    <div class="modal">
        
        <!-- <div class="container"> -->
            <div class="modal__header">
                <h1 class="modal__h1">GoIT Students</h1>
                <svg viewBox="0 0 320 512" width="14" heigth="14" class="modal__close" footer-modal-close>
                    <path
                        d="M310.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L160 210.7 54.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L114.7 256 9.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 301.3 265.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L205.3 256 310.6 150.6z" />
                </svg>   
            </div>
            <ul class="list team__list">
                <li class="team__card">
                    <picture class="modal-img">
                        <!-- <source srcset="" media="(min-width: 1280px)" /> -->
                        <source srcset="./images/400.jpg" media="(min-width: 768px)" />
                        <source srcset="./images/200.jpg" media="(min-width: 480px)" />
                        <img src="./images/footer-modal.jpg" alt="Andrew U" />
                    </picture>
                    <div class="team__info">
                        <p class="team__name">Andrew U</p>
                        <p class="team__position" lang="en">Team-lead</p>
                    </div>
                </li>
                <li class="team__card">
                    <picture class="modal-img">
                        <!-- <source srcset="" media="(min-width: 1280px)" /> -->
                        <source srcset="./images/400.jpg" media="(min-width: 768px)" />
                        <source srcset="./images/200.jpg" media="(min-width: 480px)" />
                        <img src="./images/footer-modal.jpg" alt="Andrew U" />
                    </picture>
                    <div class="team__info">
                        <p class="team__name">Andrew U</p>
                        <p class="team__position" lang="en">Team-lead</p>
                    </div>
                </li>
                <li class="team__card">
                    <picture class="modal-img">
                        <!-- <source srcset="" media="(min-width: 1280px)" /> -->
                        <source srcset="./images/400.jpg" media="(min-width: 768px)" />
                        <source srcset="./images/200.jpg" media="(min-width: 480px)" />
                        <img src="./images/footer-modal.jpg" alt="Andrew U" />
                    </picture>
                    <div class="team__info">
                        <p class="team__name">Andrew U</p>
                        <p class="team__position" lang="en">Team-lead</p>
                    </div>
                </li>
                <li class="team__card">
                    <picture class="modal-img">
                        <!-- <source srcset="" media="(min-width: 1280px)" /> -->
                        <source srcset="./images/400.jpg" media="(min-width: 768px)" />
                        <source srcset="./images/200.jpg" media="(min-width: 480px)" />
                        <img src="./images/footer-modal.jpg" alt="Andrew U" />
                    </picture>
                    <div class="team__info">
                        <p class="team__name">Andrew U</p>
                        <p class="team__position" lang="en">Team-lead</p>
                    </div>
                </li>
                <li class="team__card">
                    <picture class="modal-img">
                        <!-- <source srcset="" media="(min-width: 1280px)" /> -->
                        <source srcset="./images/400.jpg" media="(min-width: 768px)" />
                        <source srcset="./images/200.jpg" media="(min-width: 480px)" />
                        <img src="./images/footer-modal.jpg" alt="Andrew U" />
                    </picture>
                    <div class="team__info">
                        <p class="team__name">Andrew U</p>
                        <p class="team__position" lang="en">Team-lead</p>
                    </div>
                </li>
                <li class="team__card">
                    <picture class="modal-img">
                        <!-- <source srcset="" media="(min-width: 1280px)" /> -->
                        <source srcset="./images/400.jpg" media="(min-width: 768px)" />
                        <source srcset="./images/200.jpg" media="(min-width: 480px)" />
                        <img src="./images/footer-modal.jpg" alt="Andrew U" />
                    </picture>
                    <div class="team__info">
                        <p class="team__name">Andrew U</p>
                        <p class="team__position" lang="en">Team-lead</p>
                    </div>
                </li>
                <li class="team__card">
                    <picture class="modal-img">
                        <!-- <source srcset="" media="(min-width: 1280px)" /> -->
                        <source srcset="./images/400.jpg" media="(min-width: 768px)" />
                        <source srcset="./images/200.jpg" media="(min-width: 480px)" />
                        <img src="./images/footer-modal.jpg" alt="Andrew U" />
                    </picture>
                    <div class="team__info">
                        <p class="team__name">Andrew U</p>
                        <p class="team__position" lang="en">Team-lead</p>
                    </div>
                </li>
                <li class="team__card">
                    <picture class="modal-img">
                        <!-- <source srcset="" media="(min-width: 1280px)" /> -->
                        <source srcset="./images/400.jpg" media="(min-width: 768px)" />
                        <source srcset="./images/200.jpg" media="(min-width: 480px)" />
                        <img src="./images/footer-modal.jpg" alt="Andrew U" />
                    </picture>
                    <div class="team__info">
                        <p class="team__name">Andrew U</p>
                        <p class="team__position" lang="en">Team-lead</p>
                    </div>
                </li>
                
            </ul>
        <!-- </div> -->
    </div>

</div>
