<div class="backdrop is-hidden" footer-modal>
    <div class="modal">
        <button type="button" class="modal__close" footer-modal-close>
            close
        </button>
        <div class="container">
            <ul class="list team__list">
                <li class="team__card">
                    <picture>
                        <!-- <source srcset="" media="(min-width: 1200px)" />
                        <source srcset="" media="(min-width: 1200px)" />
                        <source srcset="" media="(min-width: 1200px)" /> -->
                        <img src="./images/footer-modal.jpg" alt="Andrew U" />
                    </picture>
                    <div class="team__info">
                        <p class="team__name">Andrew U</p>
                        <p class="team__position" lang="en">team-lead</p>
                    </div>
                </li>
                <li class="team__card">
                    <picture>
                        <!-- <source srcset="" media="(min-width: 1200px)" />
                                        <source srcset="" media="(min-width: 1200px)" />
                                        <source srcset="" media="(min-width: 1200px)" /> -->
                        <img src="./images/footer-modal.jpg" alt="Andrew U" />
                    </picture>
                    <div class="team__info">
                        <p class="team__name">Andrew U</p>
                        <p class="team__position" lang="en">team-lead</p>
                    </div>
                </li>
                <li class="team__card">
                    <picture>
                        <!-- <source srcset="" media="(min-width: 1200px)" />
                                        <source srcset="" media="(min-width: 1200px)" />
                                        <source srcset="" media="(min-width: 1200px)" /> -->
                        <img src="./images/footer-modal.jpg" alt="Andrew U" />
                    </picture>
                    <div class="team__info">
                        <p class="team__name">Andrew U</p>
                        <p class="team__position" lang="en">team-lead</p>
                    </div>
                </li>
                <li class="team__card">
                    <picture>
                        <!-- <source srcset="" media="(min-width: 1200px)" />
                                        <source srcset="" media="(min-width: 1200px)" />
                                        <source srcset="" media="(min-width: 1200px)" /> -->
                        <img src="./images/footer-modal.jpg" alt="Andrew U" />
                    </picture>
                    <div class="team__info">
                        <p class="team__name">Andrew U</p>
                        <p class="team__position" lang="en">team-lead</p>
                    </div>
                </li>
                <li class="team__card">
                    <picture>
                        <!-- <source srcset="" media="(min-width: 1200px)" />
                                        <source srcset="" media="(min-width: 1200px)" />
                                        <source srcset="" media="(min-width: 1200px)" /> -->
                        <img src="./images/footer-modal.jpg" alt="Andrew U" />
                    </picture>
                    <div class="team__info">
                        <p class="team__name">Andrew U</p>
                        <p class="team__position" lang="en">team-lead</p>
                    </div>
                </li>
                <li class="team__card">
                    <picture>
                        <!-- <source srcset="" media="(min-width: 1200px)" />
                                        <source srcset="" media="(min-width: 1200px)" />
                                        <source srcset="" media="(min-width: 1200px)" /> -->
                        <img src="./images/footer-modal.jpg" alt="Andrew U" />
                    </picture>
                    <div class="team__info">
                        <p class="team__name">Andrew U</p>
                        <p class="team__position" lang="en">team-lead</p>
                    </div>
                </li>
                <li class="team__card">
                    <picture>
                        <!-- <source srcset="" media="(min-width: 1200px)" />
                                        <source srcset="" media="(min-width: 1200px)" />
                                        <source srcset="" media="(min-width: 1200px)" /> -->
                        <img src="./images/footer-modal.jpg" alt="Andrew U" />
                    </picture>
                    <div class="team__info">
                        <p class="team__name">Andrew U</p>
                        <p class="team__position" lang="en">team-lead</p>
                    </div>
                </li>
                <li class="team__card">
                    <picture>
                        <!-- <source srcset="" media="(min-width: 1200px)" />
                                        <source srcset="" media="(min-width: 1200px)" />
                                        <source srcset="" media="(min-width: 1200px)" /> -->
                        <img src="./images/footer-modal.jpg" alt="Andrew U" />
                    </picture>
                    <div class="team__info">
                        <p class="team__name">Andrew U</p>
                        <p class="team__position" lang="en">team-lead</p>
                    </div>
                </li>
                <li class="team__card">
                    <picture>
                        <!-- <source srcset="" media="(min-width: 1200px)" />
                                        <source srcset="" media="(min-width: 1200px)" />
                                        <source srcset="" media="(min-width: 1200px)" /> -->
                        <img src="./images/footer-modal.jpg" alt="Andrew U" />
                    </picture>
                    <div class="team__info">
                        <p class="team__name">Andrew U</p>
                        <p class="team__position" lang="en">team-lead</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>
