<header class="library-header">
  <div class="library-header--nav container">
    <div class="library-header--nav__container">
      <div class="library-header--logo">
        <a href="/src/index.html"
          ><img
            class="library-header--logo__img"
            src="/src/images/icons/film.svg"
            alt=""
          />
          <h1 class="library-header--logo__name">Filmoteka</h1>
        </a>
      </div>
      <ul class="library-header--list">
        <li class="library-header--list__item">
          <a
            class="library-header--list__link"
            data-page="home"
            href="/src/index.html"
            >HOME</a
          >
        </li>
        <li class="library-header--list__item">
          <a
            class="library-header--list__link library-header--list__link--active"
            data-page="library"
            href="/src/library.html"
            >MY LIBRARY</a
          >
        </li>
      </ul>
    </div>
    <div class="library--btn__container">
      <button
        type="button"
        class="library--btn library--btn__watched library--btn--active"
      >
        WATCHED
      </button>
      <button type="button" class="library--btn library--btn__queue">
        QUEUE
      </button>
      <select
        id="library-input"
        name="library-input"
        class="library--btn library-input"
      >
        <option selected disabled>FILMS PER PAGE</option>
        <option value="2" style="font-size: 12pt">2</option>
        <option value="6" style="font-size: 12pt">6</option>
        <option value="9" style="font-size: 12pt">9</option>
        <option value="15" style="font-size: 12pt">15</option>
        <option value="22" style="font-size: 12pt">20</option>
      </select>
    </div>
  </div>
</header>
