<header class="header">
  <div class="container header-container">
    <nav class="header-nav">
      <div class="library-header--logo">
        <a href="/src/index.html"
          ><img
            class="library-header--logo__img"
            src="/src/images/icons/film.svg"
            alt=""
          />
          <h1 class="library-header--logo__name">Filmoteka</h1>
        </a>
      </div>
      <ul class="header-list">
        <li class="header-list__item">
          <a
            class="header-list__link header-list__link--current"
            data-page="home"
            href="/src/index.html"
            >HOME</a
          >
        </li>
        <li class="header-list__item">
          <a
            class="header-list__link"
            data-page="library"
            href="/src/library.html"
            >MY LIBRARY</a
          >
        </li>
      </ul>
    </nav>
    <div class="switcher-home">
      <img src="./images/icons/sun.svg" width="20" height="20" class="sun-svg" alt="sun" />
      <div class="roller"></div>
      <img src="./images/icons/moon.svg" width="20" height="20" class="moon-svg" alt="moon" />
    </div>
    <form class="header-search-form">
      <input
        class="header-search-form__input"
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Movie search"
      />
      <button class="header-search-form__btn" type="submit">
        <img
          class="header-search-form__icon"
          width="12"
          height="12"
          src="/src/images/icons/search.svg"
          alt=""
        />
      </button>
    </form>

    <p class="header-message is-hidden">
      Search result not successful. Enter the correct movie name and try again!
    </p>
  </div>
</header>
