<section class="film">
  <div class="film__wrap container">
    <ul class="film__list">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis
      temporibus adipisci ad, sint velit natus voluptates culpa, facere eveniet,
      est harum perspiciatis eligendi. In error deserunt ea! Ut unde provident
      libero? Quaerat debitis earum accusamus a, dolorem eligendi ipsum ipsam
      itaque dignissimos quibusdam adipisci? Tempore veritatis repellendus
      accusamus, praesentium sapiente odit modi error quo officiis quidem
      quaerat ut obcaecati minus iure? Qui, aliquid. Ad vero veritatis et. Illo
      ea ratione expedita cum nesciunt, molestiae, hic nihil dolore assumenda
      sint fugiat facere temporibus accusamus soluta. Odit ea deleniti nam nemo
      repudiandae, saepe optio vero ratione? Debitis, rem fugiat optio dolorem
      commodi velit non nisi iusto obcaecati quasi eos inventore dolore, magnam
      in culpa distinctio a tenetur consequuntur quos voluptatibus facilis.
      Maiores nobis aut, id consequatur impedit ullam deleniti tempora dolor
      quos nam, eius aperiam iste eaque repudiandae delectus possimus minima ex
      praesentium eligendi beatae autem ipsa alias culpa. Unde tenetur,
      voluptatem minima, sequi temporibus doloribus, consectetur dolorum fugit
      nisi velit eius cum reiciendis iure? Repudiandae, commodi molestiae
      numquam minus accusamus voluptatibus explicabo, obcaecati nisi cumque quia
      cupiditate possimus officiis, repellat reiciendis quod distinctio
      temporibus laborum delectus maiores. Sint corrupti, aperiam quasi quidem
      blanditiis voluptates ullam. Omnis, fuga quidem? Accusamus, repellat
      incidunt?
    </ul>
  </div>
</section>
