.library-header {
  padding-top: 40px;
  padding-bottom: 56px;
  

  background: rgba(0, 0, 0, 0.56);
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.56),
      rgba(0, 0, 0, 0.56)
    ),
    url('../images/library/header-library-background-mobile@1x.jpg');

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  // flex-grow: 1;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url('../images/library/header-library-background-mobile@2x.jpg');
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url('../images/library/header-library-background-tablet@1x.jpg');

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url('../images/library/header-library-background-tablet@2x.jpg');
    }
  }

  @media screen and (min-width: 1280px) {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url('../images/library/header-library-background-desktop@1x.jpg');

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url('../images/library/header-library-background-desktop@2x.jpg');
    }
  }
}

// NAV


.library-header--nav__container {
  display: flex;
  justify-content: space-between;
}

// LOGO

.library-header--logo {
  display: flex;
}

.library-header--logo__img {
  width: 24px;
  height: 24px;
}

.library-header--logo a {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.library-header--logo__name {
  color: var(--white-color);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  vertical-align: top;
  align-items: center;
  text-align: center;
  margin-left: 10px;

  display: none;
  transition: color var(--duration) var(--timing-function);

  @media screen and (min-width: 768px) {
    font-size: 30px;
    display: block;
  }

  &:hover {
    color: darkgrey;
  }
}

//  LINK

.library-header--list {
  display: flex;
  list-style: none;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.library-header--list__link {
  position: relative;
}

.library-header--list__item a {
  color: var(--white-color);
  transition: color var(--duration) var(--timing-function);

  &:hover {
    color: darkgrey;
  }
}

.library-header--list__item:last-child {
  margin-left: 39px;
}

.library-header--list__link--active::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0.5px;
  width: 100%;
  height: 3px;
  border-radius: 2px;

  background-color: var(--red-lining-color);
}

// BTN

.library--btn__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;

  margin-left: auto;
  margin-right: auto;

  margin-top: 60px;

  @media screen and (min-width: 768px) {
    margin-top: 40px;
  }
}

.library--btn {
  cursor: pointer;
  display: flex;

  color: var(--white-color);
  align-items: center;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  border-radius: 5px;
  background: rgba(0, 0, 0, 0);
  border: 1px solid var(--white-color);

  transition: border var(--duration) var(--timing-function);

  &:hover {
    border: 1px solid var(--secondary-orange-color);
  }
}

.library--btn__watched {
  padding: 13px 36px;

  @media screen and (min-width: 768px) {
    padding: 13px 46px;
  }
}

.library--btn__queue {
  padding: 13px 44px;
  
  @media screen and (min-width: 768px) {
    padding: 13px 54px;
  }
}

.library--btn:nth-child(-n+1) {
  margin-right: 20px;

  @media screen and (min-width: 768px) {
    margin-right: 32px;
  }
}

.library--btn--active {
  background: var(--secondary-orange-color);
  border: var(--secondary-orange-color);

  &:hover {
    border: none;
  }
}

// header shadow anima
.library-header--logo__name {
  position: relative;
}

.library-header--logo__name::before {
  content: '';
  position: absolute;
  left: 0;
  top: 20px;
  background: transparent;
  height: 50%;
  width: 100%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(8px);
  transition: 500ms ease;
}

.library-header--logo__name:hover::before {
  background: var(--white-color);
  top: 30px;
}

.library-header--list__link {
  position: relative;
}

.library-header--list__link::before {
  content: '';
  position: absolute;
  left: 0;
  top: 20px;
  background: transparent;
  height: 50%;
  width: 100%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(8px);
  transition: 500ms ease;
}

.library-header--list__link:hover::before {
  background: var(--white-color);
  top: 20px;
}


.library--btn.library-input {
  color: var(--secondary-orange-color);
  padding: 13px 13px;
  margin-top: 20px;

  position: inherit;
  bottom: 5px;
  right: auto;
  left: auto;

  @media screen and (min-width: 768px) {
      margin-top: 0px;
      bottom: 0px;
      right: 0px;
      position: absolute;
}
}

.label {
  border: none;
  transition: none;
  margin-right: 0px;

  &:hover {
      border: none;
    }

  @media screen and (min-width: 768px) {
    margin-right: 63px;
  }

  @media screen and (min-width: 1280px) {
    margin-right: 63px;
  }
}