.tui-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 40px;

  @media screen and (min-width: 768px) {
    height: 130px;
    padding-top: 30px;
    padding-bottom: 60px;

    }
}

.tui-page-btn.tui-is-disabled.tui-next,
.tui-page-btn.tui-prev.hide-prev,
.tui-page-btn.tui-prev.tui-is-disabled,
.tui-page-btn.tui-first.tui-is-disabled,
.tui-page-btn.tui-next.hide-next,
.tui-page-btn.tui-last.tui-is-disabled,
.tui-page-btn.tui-next-is-ellip.change-next,
.tui-page-btn.tui-prev-is-ellip.change-prev {
  display: none;
}

@media screen and (min-width: 768px) {
  .tui-page-btn.tui-next-is-ellip.change-next,
  .tui-page-btn.tui-prev-is-ellip.change-prev {
    display: flex;
  }
}

.tui-pagination .tui-next {
  margin-left: 0;
}

.tui-pagination .tui-prev {
  margin-right: 0;
}

.tui-pagination .tui-page-btn {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  display: flex;
  border: none;
  align-items: center;
  justify-content: center;
  padding: 11px 13px;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  transition: all 250ms ease-in-out;
  &:hover {
    background: #ff6b08;
    color: #ffffff;
  }
}

.tui-pagination .tui-is-selected {
  color: #ffffff;
  background: #ff6b08;
  border-color: #ff6b08;
}

.tui-pagination .tui-is-disabled:hover {
  background: transparent;
  border: none;
}

.tui-pagination .hide-first,
.tui-pagination .hide-last {
  background: rgba(247, 247, 247, 0.5);
}

.tui-pagination .tui-first-is-ellip:hover,
.tui-pagination .tui-last-is-ellip:hover,
.tui-pagination .hide-last:hover,
.tui-pagination .hide-first:hover {
  background: #ff6b08;
}

.tui-pagination .tui-prev-is-ellip:hover > .tui-ico-ellip,
.tui-pagination .tui-next-is-ellip:hover > .tui-ico-ellip,
.tui-pagination .hide-first:hover > .tui-ico-first,
.tui-pagination .hide-last:hover > .tui-ico-last {
  fill: #ffffff;
}

.tui-pagination .tui-is-selected:hover {
  background: #ff6b08;
}

.tui-pagination .tui-ico-ellip {
  margin-top: 0;
}

.tui-pagination .tui-first-child.tui-is-selected {
  border-left: none;
}

.tui-pagination .tui-ico-prev,
.tui-pagination .tui-ico-next,
.tui-pagination .tui-ico-first,
.tui-pagination .tui-ico-last,
.tui-pagination .tui-ico-ellip {
  background-image: none;
}

.tui-pagination .tui-ico-ellip,
.tui-pagination .tui-ico-first,
.tui-pagination .tui-ico-last {
  width: 16px;
  height: 16px;
  fill: #000000;
  transition: all 250ms ease-in-out;
}