.tui-pagination {
  height: 40px;
  display: flex;
  justify-content: center;
  margin: 40px 0 0 0;
  @media screen and (min-width: 768px) {
    margin: 50px 0 0 0;
  }
}

// .tui-page-btn.tui-prev.hide-prev,
.tui-page-btn.tui-prev.tui-is-disabled,
.tui-page-btn.tui-first.tui-is-disabled,
.tui-page-btn.tui-next.hide-next,
.tui-page-btn.tui-last.tui-is-disabled,
.tui-page-btn.tui-next-is-ellip.change-next,
.tui-page-btn.tui-prev-is-ellip.change-prev {
  display: none;
}

@media screen and (min-width: 768px) {
  .tui-page-btn.tui-next-is-ellip.change-next,
  .tui-page-btn.tui-prev-is-ellip.change-prev {
    display: flex;
  }
}

.tui-pagination .tui-next {
  margin-left: 0;
}

.tui-pagination .tui-prev {
  margin-right: 0;
}

.tui-pagination .tui-page-btn {
  display: flex;
  border: none;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  transition: all 250ms ease-in-out;
  &:hover {
    background: #ff6b08;
    color: #ffffff;
  }
}

.tui-pagination .tui-is-selected {
  color: #ffffff;
  background: #ff6b08;
  border-color: #ff6b08;
}

.tui-pagination .tui-is-disabled:hover {
  background: transparent;
  border: none;
}

.tui-pagination .hide-first,
.tui-pagination .hide-last {
  // background: var(--footer-bg-color);
  background: rgba(247, 247, 247, 0.5);
}

.tui-pagination .tui-first-is-ellip:hover,
.tui-pagination .tui-last-is-ellip:hover,
.tui-pagination .hide-last:hover,
.tui-pagination .hide-first:hover {
  background: #ff6b08;
}

.tui-pagination .tui-prev-is-ellip:hover > .tui-ico-ellip,
.tui-pagination .tui-next-is-ellip:hover > .tui-ico-ellip,
.tui-pagination .hide-first:hover > .tui-ico-first,
.tui-pagination .hide-last:hover > .tui-ico-last {
  fill: #ffffff;
}

.tui-pagination .tui-is-selected:hover {
  background: #ff6b08;
}

.tui-pagination .tui-ico-ellip {
  margin-top: 0;
}

.tui-pagination .tui-first-child.tui-is-selected {
  border-left: none;
}

.tui-pagination .tui-ico-prev,
.tui-pagination .tui-ico-next,
.tui-pagination .tui-ico-first,
.tui-pagination .tui-ico-last,
.tui-pagination .tui-ico-ellip {
  background-image: none;
}

.tui-pagination .tui-ico-ellip,
.tui-pagination .tui-ico-first,
.tui-pagination .tui-ico-last {
  width: 16px;
  height: 16px;
  fill: #000000;
  transition: all 250ms ease-in-out;
}

.tui-pagination .tui-last-child.tui-is-selected {
  border-right: 1px solid #ff6b08;
}